body {
  padding: 20px 0px 50px;
}

h1.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.calendar {
  margin: 0px 40px;
}

.calendar .calendar-header{
  min-height: 25px;
  border: 1px solid rgb(235, 235, 235);
  border-right-width: 0px;
  border-bottom-width: 0px;
  width: 14.28571428571429%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.4vw;
  background-color: #f43030;
  color: white;
}

.calendar .calendar-header:last-child {
  border-right-width: 1px;
}

[data-toggle="calendar"] > .row > .calendar-day {
  font-family: 'Roboto', sans-serif;
  width: 14.28571428571429%;
  border: 1px solid rgb(235, 235, 235);
  border-right-width: 0px;
  border-bottom-width: 0px;
  height: 120px;
  overflow-x: hidden; 
  overflow-x: auto; 
}
[data-toggle="calendar"] > .row > .calendar-day.calendar-no-current-month {
  color: rgb(200, 200, 200);
}
[data-toggle="calendar"] > .row > .calendar-day.current-day {
  background-color:#d7ebfd;
}
[data-toggle="calendar"] > .row > .calendar-day:last-child {
  border-right-width: 1px;
  background-color: #f8f9fa;
}
[data-toggle="calendar"] > .row > .calendar-day:first-child {
  background-color: #f8f9fa;
}
[data-toggle="calendar"] > .row:last-child > .calendar-day {
  border-bottom-width: 1px;
}

.calendar-day > .reminders {
  cursor: pointer;
}
.calendar-day > .reminders > .reminder h4 {
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}
.calendar-day > .reminders > .reminder > .progress {
  height: 10px;
  background-color: lightseagreen;
}

.right-caret {
  text-align: right;
}

.right-caret svg{
  margin-right: 20px;
  margin-top: 10px;
}

.right-caret svg:hover{
  cursor: not-allowed;
}

.left-caret {
  text-align: left;
}

.left-caret svg {
  margin-left: 20px;
  margin-top: 10px;
}
.left-caret svg:hover {
  cursor: not-allowed;
}
.trash:hover{
  cursor: pointer;
}